@model SistemaAcademia.Models.Aluno

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNasc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plano.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>

</div>
<h4>Aulas</h4>
<hr />

@if (Model.Aulas == null || !Model.Aulas.Any())
{
    <p>Aluno não está cadastrado em nenhuma aula.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Horário</th>
                <th>Vagas</th>
                <th>Tipo</th>
                <th>Sala</th>
                <th>Professor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var au in Model.Aulas)
            {
                <tr>
                    <td>@au.Nome</td>
                    <td>@au.Horario</td>
                    <td>@au.Vagas</td>
                    <td>@au.Tipo</td>
                    <td>@(au.Sala?.Nome ?? "-")</td>
                    <td>@(au.Professor?.Nome ?? "-")</td>
                    <td>
                        <a asp-controller="Aulas" asp-action="Details" asp-route-id="@au.Id">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>